---
---

@import "{{ site.theme }}";

header, footer {
    width: 200px;
}

a.linkedin {
    background: url(../images/In-White-14px.png) no-repeat 1px;
}

a.email {
    background: url(../images/email-16.png) no-repeat 1px;
}

a.scholar {
    background: url(../images/scholar.png) no-repeat 1px;
}

a.osm {
    background: url(../images/osm.png) no-repeat 1px;
}

a.mastodon {
    background: url(../images/mastodon.png) no-repeat 1px;
}
